<div class="choose-nick" *ngIf="currentUserNick === ''">
  <div class="choose-nick__wrapper">
    <div class="choose-nick__title">Choose nick</div>
    <div class="text-center">
      <input class="choose-nick__input" type="text" autofocus [(ngModel)]="nickModel" (keyup.enter)="chooseNick($event.target.value)" >
    </div>
    <div class="text-center">
      <button class="choose-nick__button" (click)="chooseNick(nickModel)" >Enter</button>
    </div>
  </div>
</div>

<div class="chat" *ngIf="currentUserNick !== ''">
  <div class="chat__user-list">
    <div class="logo">
    </div>
    <div class="user-nick">
      {{ currentUserNick }}
    </div>
    <div class="chat__user-list__list">
      <ul>
        <li class="chat__user-list__list__item" *ngFor="let user of (getObjectKeys(users) | usersFilter)">
          <div class="chat__user-list__list__item__status-icon" key={user} [ngClass]="getAppTypeAsClass(users[user].app)"></div>
          {{ usersClone[user].nick }}
        </li>
      </ul>
    </div>
    <div class="chat__user-list__statistics">
      <div class="chat__user-list__statistics__framework chat__user-list__statistics__framework--angular">
        {{ appTypes.angular }}
      </div>
      <div class="chat__user-list__statistics__framework chat__user-list__statistics__framework--react">
        {{ appTypes.react }}
      </div>
    </div>
  </div>
  <div class="chat__area">
    <div class="chat__messages-box">
      <ul style="list-style: none;">
        <li class="chat__messages__message" [ngClass]="{'chat__messages__message--me': message.streamId === 'CURRENT_USER'}" *ngFor="let message of messages">
          <div>
            <span class="chat__messages__message__nick" [ngClass]="getNickByAppTypeClass(usersClone[message.streamId]?.app, message.streamId === 'CURRENT_USER')">{{ usersClone[message.streamId].nick }}</span>
          </div>
          <p class="chat__messages__message__text">{{ message.message }}</p>
        </li>
      </ul>
    </div>
    <div class="chat__input-field">
      <div>
        <div style="display: flex;">
          <input type="text" [(ngModel)]="chatInput" (keyup.enter)="chat($event)" placeholder="Type a message here then hit ENTER"
            value="" style="color: inherit; background: none; outline: none; border: none; flex: 1 1 0%; font-size: 16px;">
        </div>
      </div>
    </div>
  </div>
</div>
