// Reset css
@import 'reset.scss';

// App
.logo {
    background: url("../assets/images/angular_logo.png") center no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 150px;
}

.user-nick {
    border-bottom: 1px solid #aaa;
    font-weight: bold;
    margin-bottom: 8px;
    padding-bottom: 7px;
    text-align: center;
}

.app-root {
    height: 100%;
    position: absolute;
    width: 100%;
}

// Choose nick
.choose-nick {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.choose-nick__wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 33%;
}

.choose-nick__title {
    color: #dd0031;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.choose-nick__input {
  border-radius: 7px;
  border: 1px solid #cacaca;
  box-shadow: 0 0 1px 1px #58585859 inset;
  font-size: 25px;
  height: 51px;
  margin: 19px 0;
  outline: none;
  padding-bottom: 4px;
  text-align: center;
  width: 290px;
}

.choose-nick__button {
    background: #dd0031;
    border-radius: 6px;
    border: 0;
    color: #fff;
    font-size: 23px;
    outline: none;
    padding: 7px 22px;
}

// Chat
.chat {
    display: flex;
    height: 100%;
    width: 100%;
}

.chat__user-list {
    background-color: rgb(44, 48, 59);
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0 20px 20px;
    width: 15%;
}

.chat__user-list__statistics {
    height: 73px;
    display: flex;
}

.chat__user-list__statistics__framework {
    flex-grow: 1;
    text-align: center;
    font-size: 18px;
    font-weight: bold;

    &.chat__user-list__statistics__framework:before {
        content: '';
        background: center no-repeat;
        background-size: contain;
        display: block;
        height: 55px;
        margin: 0 auto 5px;
    }

    &.chat__user-list__statistics__framework--angular:before {
        background-image: url("../assets/images/angular_logo.png");
    }

    &.chat__user-list__statistics__framework--react:before {
        background-image: url("../assets/images/react_logo.png");
    }
}

.chat__user-list__list {
    flex-grow: 1;
    overflow-y: auto;
}

.chat__user-list__list__item {
    align-items: center;
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.chat__user-list__list__item__status-icon {
    background-color: rgb(65, 71, 86);
    border-radius: 50%;
    height: 11px;
    margin-right: 10px;
    position: relative;
    top: 1px;
    width: 11px;
}

.chat__user-list__list__item__status-icon--angular {
    background: #dd0031;
}

.chat__user-list__list__item__status-icon--react {
    background: #61dafb;
}

.chat__area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 7px 20px 20px;
    width: 85%;
}

.chat__messages-box {
    flex-grow: 1;
    overflow-y: auto;
    flex: 1 1 0;
}

.chat__messages__message {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 0;
    border-bottom: 1px solid #e2e2e2;

    &:last-child {
        border: 0;
    }
}

.chat__messages__message--me {
    text-align: right;
}

.chat__messages__message__text {
    font-size: 15px;
    padding: 6px 4px;
}

.chat__messages__message__nick {
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 6px 11px;
}

.chat__messages__message__nick--angular {
    background: #dd0031;
}

.chat__messages__message__nick--react {
    background: #61dafb;
}

.chat__messages__message__nick--react--me {
    color: #000;
    border: 1px solid #e0dfdf;
}

.chat__input-field {
    border-top: 1px solid rgb(76, 117, 143);
    margin-bottom: 20px;

    input {
        padding: 20px;
    }
}

// Utility
.text-center {
    text-align: center;
}


// Responsive
@media (max-width: 768px) {
  .chat__user-list {

  }
}